body{
    background-color: #F4EDED;
}
img {
    height: 500px;
    width: 500px;
    float: left;
    margin: 10px;
}
.list {
    color: navy;
    list-style-position: inside;
}
h1 {
    font-size: 100px; font-weight: bold; font-family: Helvetica;
    text-align: center;

}
h4 {
    font-size: 30px; font-weight: bold; font-family: Helvetica;
}
h3 {
    font-size: 30px; font-weight: bold; font-family: Helvetica;
}
footer {
    background: lightblue;
    text-align: center;
    padding: 5px;
}
a {
    color: navy;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover {
    color: black;
}